.addressPage .container {
  padding: 60px 0;
  display: flex;
  gap: 28px;
}
.appartment {
  margin-top: 30px !important;
}
.addressPage .personalForm h2 {
  padding-bottom: 10px;
}
.addressPage .personalForm p {
  color: #727272;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 30px;
}
